.gallary{
    max-width: 80%;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
grid-gap: 20px;
align-items:center;
z-index: 10;
}




.imagebox {
height: 400px;
 /* width: 400px; */
overflow: hidden;
display: flex;
align-items: center;
justify-content:center ;
border-radius: 12px;
background-size: cover;
z-index: 10;
}
.imagebox img{
max-width:  100%;
max-height:  100%;
object-fit: contain; 
z-index: 10;
}